.card-container {
  backdrop-filter: blur(7px);
  width: 300px;
  overflow: hidden;
  transition: 0.3s;
  animation: ease-in;
  box-shadow: 0px 0px 15px -5px;
  margin-bottom: 20%;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px -5px;
}

.name {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.image-container img {
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 15px;
  margin-top: 0.5rem;
}

.temperaments {
  text-align: center;
  color: rgb(238, 236, 236);
  text-transform: uppercase;
}

.heightAndWeight {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 30px;
  transition: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  color: #757474;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid rgb(136, 131, 131);
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover {
    transition-delay: 0.1s;
    color: rgb(19, 17, 17);
}
