.navBar {
    background-color: rgb(37, 50, 58, 0.5);
    background-repeat: no-repeat;
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 14%;
  justify-content: center;
  color: rgb(233, 231, 231);
  font-family: "Playfair Display", serif;
  font-size: 35px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  position: relative;
  margin: auto;
}

/* .korone {
  width: 290px;
  height: 170px;
  position: relative; left: 400px;
} */


/* .underDog {
  justify-content: left;
  width: 70px;
  position: relative; 
  bottom: 34px;
  left: 27px;
}

.underDogText {
  position: relative;
  bottom: 52px;
  left: 16.5px;
  color: rgb(233, 231, 231);
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  max-width: 5%;
} */

.Creation {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 25px;
  left: 1315px;
  bottom: 83px;
  color: rgb(233, 231, 231);
  font-family: "Playfair Display", serif;
  max-width: 14%;
}

.Fou {
  position: relative;
  bottom: 12px;
  width: 350px;
}