.navBar {
    background-color: rgb(37, 50, 58, 0.5);
    background-repeat: no-repeat;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 14%;
  justify-content: center;
  color: rgb(233, 231, 231);
  font-size: 35px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  position: relative;
  font-family: "Playfair Display", serif;
  margin: auto;
}

/* .korone {
  width: 290px;
  height: 170px;
  position: relative; left: 400px;
} */

.lists{
  text-align: center;
  margin-top: 10px;
}